<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Вакансии на HH</title>
    <link rel="stylesheet" href="/static/css/beauty.css">
</head>
<body>
    <input type="button" onclick="history.back();" value="Назад"/>
    <hr>

    <text  class="text1">Страна:</text>&nbsp Россия <br>
    <text  class="text1">Город:</text> &nbsp {{city}}<br><br>
    <text  class="text1">Вакансия:</text>&nbsp {{vac}}<br><br>
    <text  class="text1">Средняя  зарплата:</text>&nbsp {{salary}}&nbsp руб.<br><br>
    <text  class="text1">Требуемые навыки:</text><br>
    <textarea name = "skills" rows = "10" cols = "85">{{skills}}</textarea><br>

</body>
</html>