<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Цены</title>
</head>

<body>
    <input type="button" onclick="history.back();" value="Назад"/>

    <hr>

    <h2 align="center">Информация о крайних ценах на квартиры в городе Челябинске по району:'{{region}}'.</h2>

    <br><br>
    Минимальная цена: {{minprice}} <br>
    {{mincity}} <br>
    {{mincharact}} <br>

    <br><br>
    Максимальная цена: {{maxprice}} <br>
    {{maxcity}} <br>
    {{maxcharact}} <br>

</body>

</html>